<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>Destination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Madison Nelson</title>
  <h1 class="headerTitle">Madison Nelson Travel</h1>

<body>
<div id="app">
    <h1>Create Your Travel Bucket List</h1>
    <p></p>
    <form @submit.prevent="addItem" id="addingItem" >
      <input type="text" v-model="text">
      <button type="submit">Add</button>
    </form>
    <p></p>
    <div id="actives">  
    <p v-show="activeTodos.length === 0">No items in your bucket list! Add some more!</p>
    <ul>
      <li v-for="item in activeTodos">
        <label :class="{ item: true, completed: item.completed }">
          <input type="checkbox" v-model="item.completed" @click="completeItem(item)" />
          <span class="checkmark"></span>
          {{ item.text }}
        </label>
        <button @click="deleteItem(item)" class="delete">X</button>
      </li>
    </ul>
    </div>
    <h1>Completed Bucket List items!</h1>
    <p></p>
    <div id="bucketList">
     <p v-if="completedGoals.length === 0">No goals completed! Get going on your bucket list!</p>
     <p v-else>You have accomplished {{completedGoals.length}} items on your bucket list! Congrats!</p>
    <ul>
        <li v-for= "item in completedGoals">
          {{ item.text }}
          <button @click="deleteItem(item)" class="delete">X</button>
        </li>
    </ul>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" integrity="sha256-lrZTgsdM1iVdRigETFOU8u8/BmLX1ysQ8bzrULbuVFU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="dest.js"></script>
</body>

<div class="card text-center">
  <div class="card-body">
    <h5>Click below for GitHub</h5>
    <a href="https://github.com/madisonnelson/creativeProject/tree/master/.c9/metadata/environment/html" class="btn btn-primary" id="buttonGitHub">GitHub</a>
</div>

</html>